<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telecom_paristech.pact25.rhythmrun">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".Client_serveur.login.AppModified"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvlvwvqg0aBDjY5zhpI0to6UNDLy3sLRs" />

        <activity android:name=".music.MainActivity" />
        <activity android:name=".music.Main2Activity" />

        <activity
            android:name=".Android_activities.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.telecom_paristech.pact25.rhythmrun.Android_activities.NewRunActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_new_run"
            android:parentActivityName=".Android_activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Android_activities.RecapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_recap"
            android:parentActivityName=".Android_activities.NewRunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Android_activities.RunActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_run"
            android:parentActivityName=".Android_activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Android_activities.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Android_activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Android_activities.LibraryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_library"
            android:parentActivityName=".Android_activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Android_activities.SongActivity"
            android:label="@string/title_activity_library"
            android:parentActivityName=".Android_activities.LibraryActivity" />
        <activity
            android:name=".Client_serveur.BluetoothActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Android_activities.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_about"
            android:parentActivityName=".Android_activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Android_activities.HistoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_historique"
            android:parentActivityName=".Android_activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Android_activities.SumUpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_sum_up"
            android:parentActivityName=".Android_activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Android_activities.HistoryRunActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_history_run"
            android:parentActivityName=".Android_activities.HistoryActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".Android_activities.account.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Android_activities.account.RegisterActivity" />
        <activity
            android:name=".Client_serveur.FtpServeur"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Android_activities.test.AudioTestActivity"></activity>
    </application>

</manifest>